{% load static %}

<header class="nav-bar">
    <div class="nav-logo pull-left">
        <!-- <a href="/"><img src="/" alt="torrent-movies"></a> -->
        <ul class="nav-links">
            <li><a href="/" style="color: #6AC045"> Subov.NET
                </a></li>
            <li>
                <a href="">Movie is a new unique story. Experience a new life.</a>
            </li>
            <!-- <li><a href="https://yts.mx/trending-movies"> Trending </a></li>
            <li><a href="https://yts.mx/browse-movies"> Browse Movies </a></li> -->
        </ul>
    </div>
    <span class="header-slogan hidden-xs pull-left">Movie is a new unique story. Experience a new life.</span>
    <div class="main-nav-links hidden-sm hidden-xs">
        <form method="GET" action="{% url 'main:search_results' %}" accept-charset="UTF-8" id="quick-search"
            name="quick-search">
            <div id="quick-search-container">
                <input id="quick-search-input" name="q" autocomplete="off" type="search" placeholder="Quick search">
                <div class="ajax-spinner" style="background-position: -176px 0px;"></div>
            </div>
        </form>
        <ul class="nav-links">
            <li><a href="/"> Home </a></li>
            <li><a href="/latest_movies/" style="color: #6AC045"> Latest Movies
                </a></li>
            <!-- <li><a href="https://yts.mx/trending-movies"> Trending </a></li>
            <li><a href="https://yts.mx/browse-movies"> Browse Movies </a></li> -->
        </ul>
        <ul class="nav-links nav-link-guest">
            <li>
                {% if user.is_authenticated %}
                <a class="login-nav-btn" href="/">{{ user.username }} &nbsp;|&nbsp; </a>
                <a \class="login-nav-btn" href="{% url 'account_logout' %}"> Logout</a>
                {% else %}
                <a class="login-nav-btn" href="{% url 'account_login' %}"> Login &nbsp;|&nbsp; </a>
                <a class="register-nav-btn" href="{% url 'account_signup' %}"> Register </a>
                {% endif %}
            </li>
        </ul>
    </div>
    <!-- <div class="nav-mobile-buttons hidden-md hidden-lg">
        <a class="touchable" id="mobile-search-btn" href="javascript:void(0)"> <span
                class="glyphicon glyphicon-search"></span> </a>
        <a class="touchable" href="https://yts.mx/browse-movies/0/2160p/all/0/latest/0/all" style="color: #6AC045">
            <b>4K</b> </a>
        <a class="touchable" href="https://yts.mx/trending-movies"> <span class="glyphicon glyphicon-stats"></span>
        </a>
        <a class="touchable" href="https://yts.mx/browse-movies"> <span class="glyphicon glyphicon-list-alt"></span>
        </a>
        <a class="touchable" href="https://yts.mx/login"> <span class="glyphicon glyphicon-user"></span> </a>
    </div> -->
</header>