{% extends 'base.html' %}
{% load static %}

{% block title %}Movies{% endblock title %}
{% block content %}
<div id="mobile-search-input" class="hidden-md hidden-lg">
  <form method="POST" action="https://yts.mx/search-movies" accept-charset="UTF-8">
    {% csrf_token %}
    <div class="input-group container search-query">
      <input class="form-control" placeholder="Search for a movie…" autocorrect="off" autocomplete="off" name="keyword"
        type="search">
      <span class="input-group-btn"> <button class="btn btn-success" type="submit">Search</button>
      </span>
    </div>
    <!-- <div class="container">
                <div class="row">
                    <div class="col-xs-10">
                        <div class="selects-container">
                            <p>Quality:</p>
                            <select name="quality">
                                <option value="all">All</option>
                                <option value="720p">720p</option>
                                <option value="1080p">1080p</option>
                                <option value="2160p">2160p</option>
                                <option value="3D">3D</option>
                            </select>
                        </div>
                        <div class="selects-container">
                            <p>Genre:</p>
                            <select name="genre">
                                <option value="all">All</option>
                                <option value="action">Action</option>
                                <option value="adventure">Adventure</option>

                            </select>
                        </div>
                        <div class="selects-container">
                            <p>Year:</p>
                            <select name="year">
                                <option value="0">All</option>
                                <option value="2020">2020</option>
                                <option value="2019">2019</option>
                                <option value="2015-2018">2015-2018</option>
                                <option value="2010-2014">2010-2014</option>
                                <option value="2000-2009">2000-2009</option>
                                <option value="1990-1999">1990-1999</option>
                                <option value="1980-1989">1980-1989</option>
                                <option value="1970-1979">1970-1979</option>
                                <option value="1900-1969">1900-1969</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-10">
                        <div class="selects-container">
                            <p>Rating:</p>
                            <select name="rating">
                                <option value="0">All</option>
                                <option value="9">9+</option>
                                <option value="8">8+</option>
                                <option value="7">7+</option>
                                <option value="6">6+</option>
                                <option value="5">5+</option>
                                <option value="4">4+</option>
                                <option value="3">3+</option>
                                <option value="2">2+</option>
                                <option value="1">1+</option>
                            </select>
                        </div>
                        <div class="selects-container">
                            <p>Language:</p>
                            <select name="language">
                                <option value="en">English</option>
                                <option value="foreign">Foreign</option>
                                <option value="all" selected="selected">--------All--------</option>
                                <option value="ja">Japanese (584)</option>
                                <option value="fr">French (468)</option>
                            </select>
                        </div>
                        <div class="selects-container selects-container-last">
                            <p>Order By:</p>
                            <select name="order_by">
                                <option value="latest" selected="selected">Latest</option>
                                <option value="oldest">Oldest</option>
                                <option value="seeds">Seeds</option>
                                <option value="peers">Peers</option>
                                <option value="year">Year</option>
                                <option value="rating">Rating</option>
                                <option value="likes">Likes</option>
                                <option value="alphabetical">Alphabetical</option>
                                <option value="downloads">Downloads</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div> -->
  </form>
</div>
<div class="ac-results hidden-sm hidden-xs">
  <ul></ul>
</div>
<style type="text/css">
  .nbox-bordered {
    background-color: black;
    border: 5px solid #75c74e;
    padding: 0 35px 5px 35px;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }

  .nbox-bordered h1,
  .nbox-bordered p {
    color: white;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    text-align: center;
  }

  .nbox-bordered p {
    line-height: 30px;
    width: auto;
    margin-bottom: 10px;
  }

  .nbox-bordered .title {
    margin-top: 5px;
    width: 80%;
    border-bottom: 1px solid grey;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
  }

  .nbox-bordered .title h1 {
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  /*
        .nbox-bordered .title h1:before {
            content: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/898049/mail.png");
            padding-right: 20px;
        }
        */

  .nbox-bordered .title img {
    position: relative;
    top: 65px;
    left: 175px;
  }

  .nbox-bordered .blue {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #4c96d0;
  }

  .nbox-bordered a {
    text-decoration: none;
  }

  .nbox-bordered .button {
    background-color: #75c74e;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border-radius: 5px;
  }

  .nbox-bordered .button img {
    float: left;
    margin-top: 8px;
    margin-left: 22px;
  }

  .nbox-bordered .button p {
    padding: 3px 0;
    text-shadow: 2px 2px #4b9924;
    font-weight: bold;
  }
</style>
<div class="container home-content">
  <div class="hidden-xs hidden-sm">
    <h1>Download torrent movies</h1>
    <p>
      Welcome to the official <b>Subov.net</b> website.
      <!-- <br><br>
            <a href="/"
                title=" is the only new official domain for YIFY Movies"><b>IMPORTANT - YTS.MX is the
                    only new official domain for YIFY Movies</b></a> -->
    </p>
  </div>
  <div id="popular-downloads">
    <div class="row">
      <h2>
        <img class="rating" src="{% static 'images/icomoon/star-full.svg' %}" alt="star">Popular
        Downloads<a href="https://yts.mx/rss-guide"><img title="RSS" src="{% static 'images/rss-icon.webp' %}" alt="RSS"
            width="24" height="24"></a></h2>
    </div>
    <!-- TODO Populate movies via Django templatetags or React.
            Add pagination? -->

    <div class="row">
      {% for movie in random_popular_movies %}
      <div class="browse-movie-wrap col-xs-10 col-sm-5">
        <a href="{{ movie.get_absolute_url }}" class="browse-movie-link">
          <figure>
            <img class="img-responsive" src="{{ movie.medium_cover_image }}" alt="{{ movie.title }} download"
              width="210" height="315">
            <figcaption class="hidden-xs hidden-sm">
              <h4 class="rating">{{ movie.rating }} / 10</h4>
              {% for gen in movie.genres.all|slice:"4" %}
              <h4>{{ gen.title }}</h4>
              {% endfor %}
              <span class="button-green-download2-big">View Details</span>
              <!-- <img class="rating" src="{% static 'images/icomoon/star-full.svg' %}" alt="star"> -->
            </figcaption>
          </figure>
        </a>
        <div class="browse-movie-bottom">
          <a href="{{ movie.get_absolute_url }}" class="browse-movie-title">
            {% if movie.language != 'English' %}
            <span style="color: #ACD7DE; font-size: 65%;"> [{{ movie.language|upper|slice:"2" }}]</span>
            {% endif %}
            {{ movie.title }}
          </a>
          <div class="browse-movie-year">{{ movie.year }}</div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="hidden-xs hidden-sm">
    <div class="nbox-bordered">
      <div class="title">
        <h1>Warning! Download only with VPN...</h1>
      </div>
      <p>
        Downloading torrents is risky for you: your IP and leaked private data being actively
        tracked by your <b>ISP</b> and <b>Government Agencies</b>.
        Protect yourself from expensive lawsuits and fines NOW!
        You must use a VPN like <b>Express</b>. It is the only way to download torrents fully
        anonymous by encrypting all traffic with zero logs.
      </p>
      <!-- <p class="blue">
                    <span style="font-size: 120%">″Do not risk it! Protect yourself right now by downloading
                        Express VPN″</span> - William
                </p>
                <a href="/yevp" rel="noindex, nofollow">
                    <div class="button">
                        <img src="/images/download.png">
                        <p>Download Express VPN</p>
                    </div>
                </a> -->
    </div>
  </div>
</div>

<div class="content-dark">
  <div class="container home-content">
    <div class="home-movies">
      <div class="row">
        <h2>&emsp;&emsp;&emsp;&emsp; Random movies with rating 7+
          <a href="/browse-movies/">Browse All</a></h2>
      </div>
      <div class="row">
        {% for sm in random_popular_movies %}
        <div class="browse-movie-wrap col-xs-10 col-sm-5">

          <a href="{{ sm.get_absolute_url }}" class="browse-movie-link">
            <figure>
              <img class="img-responsive" src="{{ sm.medium_cover_image }}"
                alt="{{ sm.title }} ({{ sm.year }}) download" width="210" height="315">
              <h4 class="rating">{{ sm.rating }} / 10</h4>
              <figcaption class="hidden-xs hidden-sm">
                <h4 class="rating">{{ sm.rating }} / 10</h4>
                {% for g in sm.genres.all|slice:"4" %}
                <h4>{{ g.title }}</h4>
                {% endfor %}
                <span class="button-green-download2-big">View Details</span>
              </figcaption>
            </figure>

          </a>
          <div class="browse-movie-bottom">
            <a href="{{ sm.get_absolute_url }}" class="browse-movie-title">
              {% if sm.language != 'English' %}
              <span style="color: #ACD7DE; font-size: 65%;"> [{{ sm.language|upper|slice:"2" }}]</span>
              {% endif %}
              {{ sm.title }}
            </a>
            <div class="browse-movie-year">{{ sm.year }}</div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<!-- <div class="container home-content">
        <div class="home-movies">
            <div class="row">
                <h2>Upcoming YIFY Movies <a href="https://yts.mx/requests">Request a Movie</a></h2>
            </div>
            <div class="row">
                <div class="browse-movie-wrap col-xs-10 col-sm-5">
                    <a href="https://yts.mx/movies/alfie-2004" class="browse-movie-link">
                        <figure>
                            <img class="img-responsive" src="/assets/images/movies/alfie_2004/medium-cover.jpg"
                                alt="Alfie (2004)" width="210" height="315">
                            <figcaption class="hidden-xs hidden-sm">
                                <span class="icon-star"></span>
                                <h4 class="rating">6.2 / 10</h4>
                                <h4>Comedy</h4>
                                <h4>Drama</h4>
                                <span class="button-green-download2-big">View Details</span>
                            </figcaption>
                        </figure>
                    </a>
                    <div class="browse-movie-bottom">
                        <a href="https://yts.mx/movies/alfie-2004" class="browse-movie-title">Alfie</a>
                        <div class="browse-movie-year">
                            2004<br>
                            <progress value="100" max="100" style="width: 55%; height:15px;"></progress> 1080p
                            Web </div>
                    </div>
                </div>
                <div class="browse-movie-wrap col-xs-10 col-sm-5">
                    <a href="https://yts.mx/movies/the-old-guard-2020" class="browse-movie-link">
                        <figure>
                            <img class="img-responsive"
                                src="/assets/images/movies/the_old_guard_2020/medium-cover.jpg"
                                alt="The Old Guard (2020)" width="210" height="315">
                            <figcaption class="hidden-xs hidden-sm">
                                <span class="icon-star"></span>
                                <h4 class="rating">6.7 / 10</h4>
                                <h4>Action</h4>
                                <h4>Adventure</h4>
                                <span class="button-green-download2-big">View Details</span>
                            </figcaption>
                        </figure>
                    </a>
                    <div class="browse-movie-bottom">
                        <a href="https://yts.mx/movies/the-old-guard-2020" class="browse-movie-title">The Old
                            Guard</a>
                        <div class="browse-movie-year">
                            2020<br>
                            <progress value="74" max="100" style="width: 55%; height:15px;"></progress> 2160p
                            Web </div>
                    </div>
                </div>
                <div class="browse-movie-wrap col-xs-10 col-sm-5">
                    <a href="https://yts.mx/movies/real-women-have-curves-2002" class="browse-movie-link">
                        <figure>
                            <img class="img-responsive"
                                src="/assets/images/movies/real_women_have_curves_2002/medium-cover.jpg"
                                alt="Real Women Have Curves (2002)" width="210" height="315">
                            <figcaption class="hidden-xs hidden-sm">
                                <span class="icon-star"></span>
                                <h4 class="rating">6.8 / 10</h4>
                                <h4>Comedy</h4>
                                <h4>Drama</h4>
                                <span class="button-green-download2-big">View Details</span>
                            </figcaption>
                        </figure>
                    </a>
                    <div class="browse-movie-bottom">
                        <a href="https://yts.mx/movies/real-women-have-curves-2002" class="browse-movie-title">Real
                            Women Have Curves</a>
                        <div class="browse-movie-year">
                            2002<br>
                            <progress value="72" max="100" style="width: 55%; height:15px;"></progress> 1080p
                            Web </div>
                    </div>
                </div>
                <div class="browse-movie-wrap col-xs-10 col-sm-5">
                    <a href="https://yts.mx/movies/schizopolis-1996" class="browse-movie-link">
                        <figure>
                            <img class="img-responsive"
                                src="/assets/images/movies/schizopolis_1996/medium-cover.jpg"
                                alt="Schizopolis (1996)" width="210" height="315">
                            <figcaption class="hidden-xs hidden-sm">
                                <span class="icon-star"></span>
                                <h4 class="rating">6.9 / 10</h4>
                                <h4>Comedy</h4>
                                <h4>Fantasy</h4>
                                <span class="button-green-download2-big">View Details</span>
                            </figcaption>
                        </figure>
                    </a>
                    <div class="browse-movie-bottom">
                        <a href="https://yts.mx/movies/schizopolis-1996" class="browse-movie-title">Schizopolis</a>
                        <div class="browse-movie-year">
                            1996<br>
                            <progress value="70" max="100" style="width: 55%; height:15px;"></progress> 1080p
                            Web </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
{% endblock content %}