{% extends 'base.html' %}
{% load static %}

{% block title %}{{ movie.title }}{% endblock title %}

{% block content %}
{% block background-image %}
<div id="background-image"
    style="background: url({{movie.large_cover_image}}) no-repeat center; background-size: cover; -webkit-background-size: cover;-moz-background-size: cover; -o-background-size: cover;">
</div>
{% endblock background-image %}

<body class="non-touch" data-gr-c-s-loaded="true">

    <div id="background-overlay"></div>
    <!-- <div class="modal modal-auth hidden-xs hidden-sm">
        <div class="modal-container">
            <div class="modal-switcher">
                <span id="modal-login"> Login </span>
                <span id="modal-register"> Register </span>
            </div>
            <div class="modal-content">
                <div class="modal-login-content">
                    <form method="POST" action="https://yts.mx/" accept-charset="UTF-8" autocorrect="off"
                        autocapitalize="off" spellcheck="off">
                        <input name="_token" type="hidden"
                            value="afc0eb78ec22cf0afde64fa9e2b7c725135a6d05646746360b08a01a878fe3dd">
                        <span class="error-msg"></span>
                        <div class="inner-addon">
                            <span class="glyphicon glyphicon-user"></span>
                            <input placeholder="Username or Email" autocorrect="off" autocapitalize="off"
                                spellcheck="off" name="username" type="text" autocomplete="off"
                                style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
                        </div>
                        <div class="inner-addon">
                            <span class="glyphicon glyphicon-lock"></span>
                            <input placeholder="Password" autocorrect="off" autocapitalize="off" spellcheck="off"
                                name="password" type="password" value="" autocomplete="off"
                                style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
                        </div>
                        <button class="button-green-download2-big" type="button">Login</button>
                    </form>
                    <p class="bottom-msg">
                        <a class="forgotpassword-nav-btn" href="javascript:void(0)">Forgot your password? / Resend
                            Activation</a>
                    </p>
                </div>
                <div class="modal-register-content">
                    <form method="POST" action="https://yts.mx/" accept-charset="UTF-8" autocomplete="off"
                        autocorrect="off" autocapitalize="off" spellcheck="off">
                        {% csrf_token %}
                        <span class="error-msg"></span>
                        <div class="inner-addon">
                            <span class="glyphicon glyphicon-user"></span>
                            <input placeholder="Username" autocomplete="off" autocorrect="off" autocapitalize="off"
                                spellcheck="off" name="username" type="text">
                        </div>
                        <div class="inner-addon">
                            <span class="glyphicon glyphicon-envelope"></span>
                            <input placeholder="E-Mail (no confirmation needed)" autocomplete="off" autocorrect="off"
                                autocapitalize="off" spellcheck="off" name="email" type="email">
                        </div>
                        <div class="inner-addon">
                            <span class="glyphicon glyphicon-lock"></span>
                            <input placeholder="Password" autocomplete="off" autocorrect="off" autocapitalize="off"
                                spellcheck="off" name="password" type="password" value="">
                        </div>
                        <div class="inner-addon">
                            <span class="glyphicon glyphicon-lock"></span>
                            <input placeholder="Confirm Password" autocomplete="off" autocorrect="off"
                                autocapitalize="off" spellcheck="off" name="password_confirmation" type="password"
                                value="">
                        </div>
                        <span class="error-msg"><span style="color: #666666">By clicking Register, you agree to
                                our</span> <a href="/terms" target="_blank">Terms and Conditions</a></span>
                        <button class="button-green-download2-big" type="button">Register</button>
                    </form>
                </div>
                <div class="modal-forgotpass-content">
                    <form method="POST" action="https://yts.mx/" accept-charset="UTF-8" autocomplete="off"
                        autocorrect="off" autocapitalize="off" spellcheck="off">
                        {% csrf_token %}
                        <span class="error-msg"></span>
                        <p class="info-msg"> If you have Forgotten your password, just type in your E-mail Address and
                            YTS will send you a link to Reset Your Password. </p>
                        <div class="inner-addon">
                            <span class="glyphicon glyphicon-envelope"></span>
                            <input placeholder="E-Mail" autocomplete="off" autocorrect="off" autocapitalize="off"
                                spellcheck="off" name="email" type="email">
                        </div>
                        <button class="button-green-download2-big" type="button">Reset Password</button>
                    </form>
                    <p class="bottom-msg">
                        <a class="login-nav-btn" href="javascript:void(0)">Back to login</a>
                    </p>
                </div>
                <div class="modal-activate-account-content">
                    <p class="info-msg">
                        <b>Thanks for signing up to YTS.MX (YIFY Torrents Home)!</b>
                        <br>
                        Your YTS account is active now and you can login to download YIFY torrents.
                    </p>
                </div>
                <div class="modal-loading-content">
                    <img src="/assets/images/website/ajax-spinner.gif" alt="ajax spinner loading">
                    <p class="info-msg"> Loading, please wait </p>
                </div>
            </div>
        </div>
    </div> -->
    <div class="main-content">
        <!-- <div id="mobile-search-input" class="hidden-md hidden-lg">
            <form method="POST" action="https://yts.mx/search-movies" accept-charset="UTF-8">
                {% csrf_token %}
                <div class="input-group container search-query">
                    <input class="form-control" placeholder="Search for a movie…" autocorrect="off" autocomplete="off"
                        name="keyword" type="search">
                    <span class="input-group-btn"> <button class="btn btn-success" type="submit">Search</button> </span>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-10">
                            <div class="selects-container">
                                <p>Quality:</p>
                                <select name="quality">
                                    <option value="all">All</option>
                                    <option value="720p">720p</option>
                                    <option value="1080p">1080p</option>
                                    <option value="2160p">2160p</option>
                                    <option value="3D">3D</option>
                                </select>
                            </div>
                            <div class="selects-container">
                                <p>Genre:</p>
                                <select name="genre">
                                    <option value="all">All</option>
                                    <option value="action">Action</option>
                                    <option value="adventure">Adventure</option>
                                    <option value="animation">Animation</option>
                                    <option value="biography">Biography</option>
                                    <option value="comedy">Comedy</option>
                                    <option value="crime">Crime</option>
                                    <option value="documentary">Documentary</option>
                                    <option value="drama">Drama</option>
                                    <option value="family">Family</option>
                                    <option value="fantasy">Fantasy</option>
                                    <option value="film-noir">Film-Noir</option>
                                    <option value="game-show">Game-Show</option>
                                    <option value="history">History</option>
                                    <option value="horror">Horror</option>
                                    <option value="music">Music</option>
                                    <option value="musical">Musical</option>
                                    <option value="mystery">Mystery</option>
                                    <option value="news">News</option>
                                    <option value="reality-tv">Reality-TV</option>
                                    <option value="romance">Romance</option>
                                    <option value="sci-fi">Sci-Fi</option>
                                    <option value="sport">Sport</option>
                                    <option value="talk-show">Talk-Show</option>
                                    <option value="thriller">Thriller</option>
                                    <option value="war">War</option>
                                    <option value="western">Western</option>
                                </select>
                            </div>
                            <div class="selects-container">
                                <p>Year:</p>
                                <select name="year">
                                    <option value="0">All</option>
                                    <option value="2020">2020</option>
                                    <option value="2019">2019</option>
                                    <option value="2015-2018">2015-2018</option>
                                    <option value="2010-2014">2010-2014</option>
                                    <option value="2000-2009">2000-2009</option>
                                    <option value="1990-1999">1990-1999</option>
                                    <option value="1980-1989">1980-1989</option>
                                    <option value="1970-1979">1970-1979</option>
                                    <option value="1900-1969">1900-1969</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-10">
                            <div class="selects-container">
                                <p>Rating:</p>
                                <select name="rating">
                                    <option value="0">All</option>
                                    <option value="9">9+</option>
                                    <option value="8">8+</option>
                                    <option value="7">7+</option>
                                    <option value="6">6+</option>
                                    <option value="5">5+</option>
                                    <option value="4">4+</option>
                                    <option value="3">3+</option>
                                    <option value="2">2+</option>
                                    <option value="1">1+</option>
                                </select>
                            </div>
                            <div class="selects-container">
                                <p>Language:</p>
                                <select name="language">
                                    <option value="en">English</option>
                                    <option value="foreign">Foreign</option>
                                    <option value="all" selected="selected">--------All--------</option>
                                    <option value="ja">Japanese (584)</option>
                                    <option value="fr">French (468)</option>
                                    <option value="de">German (277)</option>
                                    <option value="zh">Chinese (253)</option>
                                    <option value="it">Italian (252)</option>
                                    <option value="es">Spanish (235)</option>
                                    <option value="cn">Cantonese (216)</option>
                                    <option value="ko">Korean (187)</option>
                                    <option value="hi">Hindi (121)</option>
                                    <option value="sv">Swedish (93)</option>
                                    <option value="ru">Russian (83)</option>
                                    <option value="pl">Polish (71)</option>
                                    <option value="pt">Portuguese (60)</option>
                                    <option value="da">Danish (44)</option>
                                    <option value="no">Norwegian (37)</option>
                                    <option value="nl">Dutch (32)</option>
                                    <option value="cs">Czech (31)</option>
                                    <option value="fi">Finnish (30)</option>
                                    <option value="th">Thai (27)</option>
                                    <option value="tr">Turkish (26)</option>
                                    <option value="fa">Persian (19)</option>
                                    <option value="el">Greek (18)</option>
                                    <option value="id">Indonesian (15)</option>
                                    <option value="ar">Arabic (14)</option>
                                    <option value="he">Hebrew (14)</option>
                                    <option value="hu">Hungarian (11)</option>
                                    <option value="tl">Tagalog (10)</option>
                                    <option value="te">Telugu (7)</option>
                                    <option value="ta">Tamil (7)</option>
                                    <option value="ro">Romanian (6)</option>
                                    <option value="is">Icelandic (6)</option>
                                    <option value="sr">Serbian (4)</option>
                                    <option value="bn">Bangla (4)</option>
                                    <option value="et">Estonian (4)</option>
                                    <option value="ms">Malay (3)</option>
                                    <option value="ur">Urdu (3)</option>
                                    <option value="vi">Vietnamese (3)</option>
                                    <option value="ca">Catalan (3)</option>
                                    <option value="xx">xx (3)</option>
                                    <option value="eu">Basque (3)</option>
                                    <option value="uk">Ukrainian (3)</option>
                                    <option value="af">Afrikaans (2)</option>
                                    <option value="la">Latin (2)</option>
                                    <option value="yi">Yiddish (1)</option>
                                    <option value="aa">Afar (1)</option>
                                    <option value="mi">Maori (1)</option>
                                    <option value="kn">Kannada (1)</option>
                                    <option value="ka">Georgian (1)</option>
                                    <option value="ab">Abkhazian (1)</option>
                                    <option value="ml">Malayalam (1)</option>
                                    <option value="sw">Swahili (1)</option>
                                    <option value="sk">Slovak (1)</option>
                                    <option value="os">Ossetic (1)</option>
                                    <option value="nb">Norwegian Bokmål (1)</option>
                                    <option value="mr">Marathi (1)</option>
                                    <option value="mn">Mongolian (1)</option>
                                    <option value="mk">Macedonian (1)</option>
                                    <option value="lv">Latvian (1)</option>
                                    <option value="km">Khmer (1)</option>
                                    <option value="ga">Irish (1)</option>
                                    <option value="bs">Bosnian (1)</option>
                                </select>
                            </div>
                            <div class="selects-container selects-container-last">
                                <p>Order By:</p>
                                <select name="order_by">
                                    <option value="latest" selected="selected">Latest</option>
                                    <option value="oldest">Oldest</option>
                                    <option value="seeds">Seeds</option>
                                    <option value="peers">Peers</option>
                                    <option value="year">Year</option>
                                    <option value="rating">Rating</option>
                                    <option value="likes">Likes</option>
                                    <option value="alphabetical">Alphabetical</option>
                                    <option value="downloads">Downloads</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div> -->
        <!-- <div class="ac-results hidden-sm hidden-xs">
            <ul></ul>
        </div> -->
        <!-- TODO get rid of this css -->
        <style type="text/css">
            .infobox-bordered {
                background-color: black;
                border: 5px solid #75c74e;
                padding: 0 35px 5px 35px;
                max-width: 1140px;
                margin-left: auto;
                margin-right: auto;
            }

            .infobox-bordered h1,
            .infobox-bordered p {
                color: white;
                font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
                text-align: center;
            }

            .infobox-bordered p {
                line-height: 30px;
                width: auto;
                margin-bottom: 10px;
            }

            .infobox-bordered .title {
                margin-top: 5px;
                width: 80%;
                border-bottom: 1px solid grey;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 5px;
            }

            .infobox-bordered .title h1 {
                font-size: 40px;
                margin-top: 0px;
                margin-bottom: 0px;
            }


            .infobox-bordered .title h1:before {
                content: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/898049/mail.png");
                padding-right: 20px;
            }


            .infobox-bordered .title img {
                position: relative;
                top: 65px;
                left: 175px;
            }

            .infobox-bordered .blue {
                margin-top: 10px;
                margin-bottom: 10px;
                font-weight: bold;
                color: #4c96d0;
            }

            .infobox-bordered a {
                text-decoration: none;
            }

            .infobox-bordered .button {
                background-color: #75c74e;
                width: 250px;
                margin-left: auto;
                margin-right: auto;
                margin-top: 15px;
                border-radius: 5px;
            }

            .infobox-bordered .button img {
                float: left;
                margin-top: 8px;
                margin-left: 22px;
            }

            .infobox-bordered .button p {
                padding: 3px 0;
                text-shadow: 2px 2px #4b9924;
                font-weight: bold;
            }
        </style>

        <div class="container" id="movie-content" itemscope="" itemtype="http://schema.org/Movie">
            <div class="row">
                <div id="mobile-movie-info" class="visible-xs col-xs-20">
                    <h1 itemprop="name">{{ movie.title }}</h1>
                    <h2>{{ movie.year }}</h2>
                    <h2>Action / Comedy / Drama / Romance</h2>
                </div>
                <div id="movie-poster" class="col-xs-10 col-sm-6 col-lg-5">
                    <img class="img-responsive" itemprop="image" src="{{ movie.medium_cover_image }}"
                        alt="Me and Earl and the Dying Girl (2015) download">
                    <!-- <a class="torrent-modal-download button-green-download2-big hidden-xs hidden-sm"
                        href="javascript:void(0);"><span class="icon-in"></span>Download</a> -->
                    <div class="addthis_sharing_toolbox" style="margin-top: 15px;"></div>
                    <!-- <div class="addthis_tipjar_inline"></div> -->
                </div>
                <!-- <div class="modal modal-download hidden-xs hidden-sm">
                    <div class="modal-container">
                        <div class="modal-title"> Select movie quality </div>
                        <span class="modal-close glyphicon glyphicon-remove"></span>
                        <div class="modal-content">
                            <div class="modal-torrent">
                                <div class="modal-quality" id="modal-quality-720p"><span>720p</span></div>
                                <p class="quality-size">BluRay</p>
                                <br>
                                <p>File size</p>
                                <p class="quality-size">807.65 MB</p>
                                <a download="" class="download-torrent button-green-download2-big"
                                    href="https://yts.mx/torrent/download/5095CBD6466A14E667B70EC8B81308806906F10D"
                                    rel="nofollow" title="Download Me and Earl and the Dying Girl 720p Torrent"><span
                                        class="icon-in"></span>Download</a>
                                <a data-torrent-id="8041"
                                    href="magnet:?xt=urn:btih:5095CBD6466A14E667B70EC8B81308806906F10D&amp;dn=Me+and+Earl+and+the+Dying+Girl+%282015%29+%5B720p%5D+%5BYTS.MX%5D&amp;tr=udp%3A%2F%2Fglotorrents.pw%3A6969%2Fannounce&amp;tr=udp%3A%2F%2Ftracker.openbittorrent.com%3A80&amp;tr=udp%3A%2F%2Ftracker.coppersurfer.tk%3A6969&amp;tr=udp%3A%2F%2Fp4p.arenabg.ch%3A1337&amp;tr=udp%3A%2F%2Ftracker.internetwarriors.net%3A1337"
                                    class="magnet-download download-torrent magnet"
                                    title="Download Me and Earl and the Dying Girl 720p Magnet"
                                    rel="nofollow"><span>Magnet</span></a>
                            </div>
                            <div class="modal-torrent">
                                <div class="modal-quality" id="modal-quality-1080p"><span>1080p</span></div>
                                <p class="quality-size">BluRay</p>
                                <br>
                                <p>File size</p>
                                <p class="quality-size">1.64 GB</p>
                                <a download="" class="download-torrent button-green-download2-big"
                                    href="https://yts.mx/torrent/download/82F7035A630D22754216D7FEF59BF59318535446"
                                    rel="nofollow" title="Download Me and Earl and the Dying Girl 1080p Torrent"><span
                                        class="icon-in"></span>Download</a>
                                <a data-torrent-id="8042"
                                    href="magnet:?xt=urn:btih:82F7035A630D22754216D7FEF59BF59318535446&amp;dn=Me+and+Earl+and+the+Dying+Girl+%282015%29+%5B1080p%5D+%5BYTS.MX%5D&amp;tr=udp%3A%2F%2Fglotorrents.pw%3A6969%2Fannounce&amp;tr=udp%3A%2F%2Ftracker.openbittorrent.com%3A80&amp;tr=udp%3A%2F%2Ftracker.coppersurfer.tk%3A6969&amp;tr=udp%3A%2F%2Fp4p.arenabg.ch%3A1337&amp;tr=udp%3A%2F%2Ftracker.internetwarriors.net%3A1337"
                                    class="magnet-download download-torrent magnet"
                                    title="Download Me and Earl and the Dying Girl 1080p Magnet"
                                    rel="nofollow"><span>Magnet</span></a>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div id="movie-info" class="col-xs-10 col-sm-14 col-md-7 col-lg-8 col-lg-offset-1" data-movie-id="4504">
                    <div class="hidden-xs">
                        <h1>{{ movie.title }}</h1>
                        <h2>{{ movie.year }}</h2>
                        <h2>{% for gen in movie.genres.all %}
                            {{ gen.title }} /
                            {% endfor %}
                        </h2>
                    </div>
                    {% for s in movie.subtitles.all %}
                    {{ s }}
                    {% endfor %}

                    <p class="hidden-xs hidden-sm">
                        <em class="pull-left">Available in: &nbsp;</em>
                        {% for t in movie.torrents.all %}
                        <a href="{{ t.url }}" rel="nofollow"
                            title="Download {{ movie.title }} {{ t.quality }} {{ t.type }} Torrent">{{ t.quality }}</a>
                        {% endfor %}
                    </p>
                    <p class="hidden-xs hidden-sm">
                        <em class="pull-left">Subtitles: &nbsp;</em>
                        <a href="/" target="_blank" class="button"
                            title="Download subtitles for {{ movie.title }}">EN</a></p>
                    <div class="bottom-info">
                        <!-- TODO rating -->
                        <!-- <div class="rating-row">
                            <span title="Likes" class="icon "><img class="svg-icon"
                                    src="{% static 'images/heart.svg' %}" alt="{{ movie.title }}"></span>
                            <span id="movie-likes">107</span>
                        </div>
                        <div class="rating-row">
                            <span title="Likes" class="icon "><img class="svg-icon"
                                    src="{% static 'images/rt-rotten.webp' %}" alt="{{ movie.title }}"></span>
                            <span id="movie-likes"><span>81%</span> - Critics</span>
                        </div>
                        <div class="rating-row">
                            <span title="Likes" class="icon "><img class="svg-icon"
                                    src="{% static 'images/rt-spilled.webp' %}" alt="{{ movie.title }}"></span>
                            <span id="movie-likes"><span>86%</span> - Audience</span>
                        </div> -->

                        <div class="rating-row" itemprop="aggregateRating" itemscope=""
                            itemtype="http://schema.org/AggregateRating">
                            <a class="icon" href="https://www.imdb.com/title/{{ movie.imdb_code }}/" title="IMDb Rating"
                                target="_blank"> <img src="{% static 'images/logo-imdb.svg' %}" alt="IMDb Rating"> </a>
                            <span itemprop="ratingValue">{{ movie.rating }}</span>
                            <!-- <span itemprop="ratingCount" style="display: none;">119914</span> -->
                            <!-- <span class="hidden-xs icon-star"></span> -->
                        </div>


                        <div class="rating-row" style="margin-top: 20px;">
                            <div class="infobox-bordered"
                                style="width: 100%; margin: 0px; padding: 10px 12px; border:1px solid #75C74E;border-radius: 4px;position: relative;background: #000000">
                                <div class="title"
                                    style="font-size: 10px;width: 100%;margin-bottom: -15px;border: 0px;">
                                    <h1 style="font-size: 15px;line-height: initial;text-align: left;">Enable
                                        your VPN when downloading torrents</h1>
                                </div>
                                <p class="blue"
                                    style="color:#ABCC06;text-align: justify;margin-top: 10px;font-size: 13px;line-height: 20px;">
                                    If you torrent without a VPN, your ISP can see that you're torrenting and may
                                    throttle your connection and get fined by legal action!
                                </p>
                                <a href="/yevp" rel="noindex, nofollow">
                                    <div class="button" style="width: 50%;">
                                        <p style="margin-top: -10px;font-size: 15px;">Get Express VPN</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- TODO include similar movies -->
                <div id="movie-related" class="col-md-6 hidden-xs hidden-sm">
                    <p>Similar Movies</p>
                    <a href="https://yts.mx/movies/as-i-lay-dying-2013" title="As I Lay Dying (2013)"><img
                            src="https://img.yts.mx/assets/images/movies/As_I_Lay_Dying_2013/medium-cover.jpg"
                            alt="As I Lay Dying (2013) download"></a>
                    <a href="https://yts.mx/movies/dying-of-the-light-2014" title="Dying of the Light (2014)"><img
                            src="https://img.yts.mx/assets/images/movies/dying_of_the_light_2014/medium-cover.jpg"
                            alt="Dying of the Light (2014) download"></a>
                    <a href="https://yts.mx/movies/girl-most-likely-2012" title="Girl Most Likely (2012)"><img
                            src="https://img.yts.mx/assets/images/movies/Girl_Most_Likely_2012/medium-cover.jpg"
                            alt="Girl Most Likely (2012) download"></a>
                    <a href="https://yts.mx/movies/get-the-girl-2017" title="Get the Girl (2017)"><img
                            src="https://img.yts.mx/assets/images/movies/get_the_girl_2017/medium-cover.jpg"
                            alt="Get the Girl (2017) download"></a>
                </div>
            </div>
            <div id="screenshots" class="row hidden-xs hidden-sm">
                <div class="screenshot">
                    <a class="youtube cboxElement"
                        href="https://www.youtube.com/embed/QHPmmNIaQuQ?rel=0&amp;wmode=transparent&amp;border=0&amp;autoplay=1&amp;iv_load_policy=3"
                        id="playTrailer"><span class="btn-play-trailer"></span></a>
                    <a class="screenshot-group imghov cboxElement"
                        href="https://img.yts.mx/assets/images/movies/me_and_earl_and_the_dying_girl_2015/large-screenshot1.jpg"><img
                            src="https://img.yts.mx/assets/images/movies/me_and_earl_and_the_dying_girl_2015/medium-screenshot1.jpg"
                            alt="Me and Earl and the Dying Girl (2015) download"></a>
                </div>
                <div class="screenshot">
                    <a class="screenshot-group imghov cboxElement"
                        href="https://img.yts.mx/assets/images/movies/me_and_earl_and_the_dying_girl_2015/large-screenshot2.jpg"><img
                            src="https://img.yts.mx/assets/images/movies/me_and_earl_and_the_dying_girl_2015/medium-screenshot2.jpg"
                            alt="Me and Earl and the Dying Girl (2015) download"></a>
                </div>
                <div class="screenshot">
                    <a class="screenshot-group imghov cboxElement"
                        href="https://img.yts.mx/assets/images/movies/me_and_earl_and_the_dying_girl_2015/large-screenshot3.jpg"><img
                            src="https://img.yts.mx/assets/images/movies/me_and_earl_and_the_dying_girl_2015/medium-screenshot3.jpg"
                            alt="Me and Earl and the Dying Girl (2015) download"></a>
                </div>
            </div>
            <div class="modal modal-parental-guide hidden-xs hidden-sm">
                <div class="modal-container">
                    <div class="modal-title"> Parental Guide </div>
                    <span class="modal-close glyphicon glyphicon-remove"></span>
                    <div class="modal-content">
                        <div class="modal-loading-content">
                            <img src="/assets/images/website/ajax-spinner.gif" alt="ajax spinner loading">
                            <p class="info-msg"> Loading, please wait </p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="movie-sub-info" class="row">
                <div id="synopsis" class="col-sm-10 col-md-13 col-lg-12">
                    <h3>Synopsis</h3>
                    <p class="hidden-sm hidden-md hidden-lg">{{ movie.description_full }}</p>
                    <p class="hidden-xs">{{ movie.description_full }}</p>
                </div>
                <div id="crew" class="col-sm-10 col-md-7 col-lg-offset-1">
                    <!-- <div class="directors">
                        <h3>Director</h3>
                        <div class="list-cast">
                            <div class="tableCell">
                                <a class="avatar-thumb" href="https://www.imdb.com/name/nm0004234/" target="_blank"
                                    title="IMDb Profile"> <img
                                        src="https://img.yts.mx/assets/images/actors/thumb/nm0004234.jpg"
                                        alt="Alfonso Gomez-Rejon Picture"> </a>
                            </div>
                            <div class="list-cast-info tableCell">
                                <a class="name-cast" href="https://yts.mx/browse-movies/Alfonso%20Gomez-Rejon"><span
                                        itemprop="director" itemscope="" itemtype="http://schema.org/Person"><span
                                            itemprop="name">Alfonso Gomez-Rejon</span></span></a>
                            </div>
                        </div>
                    </div> -->
                    <div class="actors">
                        <h3>Cast</h3>
                        {% for c in movie.cast.all %}
                        <div class="list-cast">
                            <div class="tableCell">
                                <a class="avatar-thumb" href="https://www.imdb.com/name/{{ c.imdb_code}}/"
                                    target="_blank" title="IMDb Profile"> <img src="{{ c.url_small_image }}"
                                        alt="{{ c.name }} Picture"> </a>
                            </div>
                            <div class="list-cast-info tableCell">
                                <!-- TODO character_name -->
                                <a class="name-cast" href="https://yts.mx/browse-movies/Chris%20Pratt"><span
                                        itemprop="actor" itemscope="" itemtype="http://schema.org/Person"><span
                                            itemprop="name">{{ c.name }}</span></span></a> as {{ character_name.cast.imdb_code }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- TODO Tech specs. Add js -->
            <!-- <div id="movie-tech-specs" class="row">
                <h3 class="hidden-xs hidden-sm col-md-5">Tech specs</h3>
                <span class="tech-quality col-md-2 selected"> 720p.BLU </span>
                <span class="tech-quality col-md-2 "> 1080p.BLU </span>
                <div class="tech-spec-info col-xs-20 ">
                    <div class="row">
                        <div class="tech-spec-element col-xs-20 col-sm-10 col-md-5"><span title="File Size"
                                class="icon-folder"></span> 807.65 MB <div></div>
                        </div>
                        <div class="tech-spec-element col-xs-20 col-sm-10 col-md-5"> <span title="Resolution"
                                class="icon-expand"></span> 1280*720 <div></div>
                        </div>
                        <div class="tech-spec-element col-xs-20 col-sm-10 col-md-5"> <span title="Language"
                                class="icon-volume-medium"></span> English 2.0 <div></div>
                        </div>
                        <div class="tech-spec-element col-xs-20 col-sm-10 col-md-5"> <span title="MPA Rating"
                                class="icon-eye"></span> PG - 13 <div></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="tech-spec-element col-xs-20 col-sm-10 col-md-5"> <span title="Subtitles"
                                class="glyphicon glyphicon-subtitles"></span> <a href="" target="_blank">Subtitles</a>
                            <div class="hidden-md hidden-lg"></div>
                        </div>
                        <div class="tech-spec-element col-xs-20 col-sm-10 col-md-5"> <span title="Frame Rate"
                                class="icon-film"></span> 23.976 fps <div class="hidden-md hidden-lg"></div>
                        </div>
                        <div class="tech-spec-element col-xs-20 col-sm-10 col-md-5"> <span title="Runtime"
                                class="icon-clock"></span> 1 hr 45 min <div class="visible-xs"></div>
                        </div>
                        <div class="tech-spec-element col-xs-20 col-sm-10 col-md-5"> <span title="Peers and Seeds"
                                class="tech-peers-seeds">P/S</span> 4 / 59 </div>
                    </div>
                </div>
                <div class="tech-spec-info col-xs-20 hidden-tech-info">
                    <div class="row">
                        <div class="tech-spec-element col-xs-20 col-sm-10 col-md-5"><span title="File Size"
                                class="icon-folder"></span> 1.64 GB <div></div>
                        </div>
                        <div class="tech-spec-element col-xs-20 col-sm-10 col-md-5"> <span title="Resolution"
                                class="icon-expand"></span> 1920*1080 <div></div>
                        </div>
                        <div class="tech-spec-element col-xs-20 col-sm-10 col-md-5"> <span title="Language"
                                class="icon-volume-medium"></span> English 2.0 <div></div>
                        </div>
                        <div class="tech-spec-element col-xs-20 col-sm-10 col-md-5"> <span title="MPA Rating"
                                class="icon-eye"></span> PG - 13 <div></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="tech-spec-element col-xs-20 col-sm-10 col-md-5"> <span title="Subtitles"
                                class="glyphicon glyphicon-subtitles"></span> <a
                                href="https://yifysubtitles.org/movie-imdb/tt2582496" target="_blank">Subtitles</a>
                            <div class="hidden-md hidden-lg"></div>
                        </div>
                        <div class="tech-spec-element col-xs-20 col-sm-10 col-md-5"> <span title="Frame Rate"
                                class="icon-film"></span> 23.976 fps <div class="hidden-md hidden-lg"></div>
                        </div>
                        <div class="tech-spec-element col-xs-20 col-sm-10 col-md-5"> <span title="Runtime"
                                class="icon-clock"></span> 1 hr 45 min <div class="visible-xs"></div>
                        </div>
                        <div class="tech-spec-element col-xs-20 col-sm-10 col-md-5"> <span title="Peers and Seeds"
                                class="tech-peers-seeds">P/S</span> 1 / 21 </div>
                    </div>
                </div>
            </div> -->
            <!-- TODO Movie reviews -->
            <div id="movie-bottom" class="row">
                <div id="movie-reviews" class="col-xs-20 col-md-10 col-md-offset-1 col-md-push-9">
                    <h3><span class="icon-star"></span>Movie Reviews</h3>
                    <div class="review">
                        <div class="review-properties">
                            Reviewed by <span class="review-author">thisanant</span>
                            <span class="icon-star"></span>
                            <span class="review-rating">10 / 10</span>
                        </div>
                        <h4>and 10 stars</h4>
                        <article>
                            <p>A multi-star drama , the concept of reunions is quite common in Hollywood comedies but
                                they tend to look foolish ( American Reunion ) , this one is very intelligent though .
                                the chemistry among cast is convincing . very charming .</p>
                        </article>
                    </div>
                    <div class="line"></div>
                    <div class="review">
                        <div class="review-properties">
                            Reviewed by <span class="review-author">tabipha</span>
                            <span class="icon-star"></span>
                            <span class="review-rating">1 / 10</span>
                        </div>
                        <h4>Avoid</h4>
                        <article>
                            <p>With how many big names there are in this movie, I had much higher hopes for it!! I was
                                SO bored that I turned it off in the first half hour. Why all these stars would even
                                want to be in this movie is beyond me, and I wish they would stop casting Jenna in
                                Channing movies! But it won't let me post it without adding more lines so do NOT waste
                                your time on this movie!! Avoid at all costs. Don't get sucked in by all the stars like
                                I did!</p>
                        </article>
                    </div>
                    <div class="line"></div>
                    <div class="review">
                        <div class="review-properties">
                            Reviewed by <span class="review-author">Anna Laerke Byrne</span>
                            <span class="icon-star"></span>
                            <span class="review-rating">10 / 10</span>
                        </div>
                        <h4>Great casting</h4>
                        <article>
                            <p>I loved it. It was seeing people react at the ten-year reunion exactly how they do in the
                                wild. It felt real and not overly smooshy. It was touching and cringe but not in a
                                brashy teen movie way in a people portrayed as human way. I went to my school reunion in
                                2009 and I was mistaken for one of the popular girls by someone which was upsetting as
                                she was heavily pregnant at the time. If you smash this right into Romy and Michelle's
                                High School Reunion that was my experience, but enough about me this movie had heart and
                                alcohol - watch it.</p>
                        </article>
                    </div>
                    <div class="line"></div>
                    <a class="more-reviews" href="https://www.imdb.com/title/tt1715873/reviews" target="_blank">Read
                        more IMDb reviews</a>
                </div>
                <div id="movie-comments" class="col-xs-20 col-md-9 col-md-pull-11">
                    <h3><span class="icon-comment"></span><span id="comment-count">1</span> Comments</h3>
                    <div id="comments" class="comments-scroll ps-container">

                        <div class="comment" data-comment-id="35331878"> <a title="View profile"
                                href="https://yts.mx/user/3million" class="avatar-thumb"><img alt="3million profile"
                                    src="https://img.yts.mx/assets/images/users/thumb/default_avatar.jpg"></a>
                            <div class="comment-text">
                                <div class="pull-right comment-likes"> <span class="comment-like-count">0</span> <span
                                        title="Likes" class="icon icon-heart2"></span> </div> <span><a
                                        href="https://yts.mx/user/3million">3million</a> August 12, 2019 at 11:54
                                    pm</span>
                                <p> i Love it, and am big fan of cChanning Tatum... </p>
                            </div>
                        </div>
                        <div id="load-comments" style="display: none;">
                            <div class="ajax-spinner" style="display: none; background-position: 0px 0px;"></div>
                            <a class="button-green-download2-big" href="javascript:void(0);" style="display: none;">Load
                                more comments</a>
                        </div>
                        <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;">
                            <div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div>
                        </div>
                        <div class="ps-scrollbar-y-rail" style="top: 0px; right: 3px;">
                            <div class="ps-scrollbar-y" style="top: 0px; height: 0px;"></div>
                        </div>
                    </div>
                    <div id="comments-box">
                        <a class="login-nav-btn hidden-xs hidden-sm" href="javascript:void(0);">Login to leave a
                            comment</a>
                        <a class="login-nav-btn hidden-md hidden-lg" href="https://yts.mx/login">Login to leave a
                            comment</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container hidden-md hidden-lg">
            <div class="row">
                <div class="mobile-footer">
                    <div class="col-sm-20">
                        <a href="https://yts.mx/"> <span class="glyphicon glyphicon-home"></span>
                            <p>Home</p>
                        </a>
                        <a href="https://yts.mx/browse-movies"> <span class="glyphicon glyphicon-list-alt"></span>
                            <p>Browse</p>
                        </a>
                        <a href="https://yts.mx/login"> <span class="glyphicon glyphicon-log-in"></span>
                            <p>Login</p>
                        </a>
                    </div>
                    <div class="col-sm-20">
                        <a href="https://yts.mx/register"> <span class="glyphicon glyphicon-user"></span>
                            <p>Register</p>
                        </a>
                        <a href="https://yts.mx/requests"> <span class="glyphicon glyphicon-asterisk"></span>
                            <p>Requests</p>
                        </a>
                        <a href="https://yts.mx/suggestions"> <span class="glyphicon glyphicon-pushpin"></span>
                            <p>Suggestions</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-xs-20">
                        <ul class="text-center">
                            <li>2020</li>
                            <li>-</li>
                            <li><a href="https://yts.mx/blog">Blog</a></li>
                            <li>-</li>
                            <li><a href="https://yts.mx/dmca">DMCA</a></li>
                            <li>-</li>
                            <li><a href="https://yts.mx/api">API</a></li>
                            <li>-</li>
                            <li><a href="https://yts.mx/rss-guide">RSS</a></li>
                            <li>-</li>
                            <li><a href="https://yts.mx/contact">Contact</a></li>
                            <li>-</li>
                            <li><a href="https://yts.mx/browse-movies">Browse Movies</a></li>
                            <li>-</li>
                            <li><a href="https://yts.mx/requests">Requests</a></li>
                            <li>-</li>
                            <li><a href="https://yts.mx/login">Login</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-20">
                        <ul class="text-center">
                            <li style="font-size: .80em">By using this site you agree to and accept our <a
                                    href="/terms">User Agreement</a>, which can be read <a href="/terms">here</a>.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script type="text/javascript" src="js/moddded1?yify=2"></script>
    <script src="/ypt.js"></script>
    <script defer="" src="https://static.cloudflareinsights.com/beacon.min.js"
        data-cf-beacon="{&quot;rayId&quot;:&quot;5b5dba51e8ea4d8c&quot;,&quot;version&quot;:&quot;2020.6.0&quot;,&quot;si&quot;:10}"></script>

    <div id="cboxOverlay" style="display: none;"></div>
    <div id="colorbox" class="" role="dialog" tabindex="-1" style="display: none;">
        <div id="cboxWrapper">
            <div>
                <div id="cboxTopLeft" style="float: left;"></div>
                <div id="cboxTopCenter" style="float: left;"></div>
                <div id="cboxTopRight" style="float: left;"></div>
            </div>
            <div style="clear: left;">
                <div id="cboxMiddleLeft" style="float: left;"></div>
                <div id="cboxContent" style="float: left;">
                    <div id="cboxTitle" style="float: left;"></div>
                    <div id="cboxCurrent" style="float: left;"></div><button type="button"
                        id="cboxPrevious"></button><button type="button" id="cboxNext"></button><button
                        id="cboxSlideshow"></button>
                    <div id="cboxLoadingOverlay" style="float: left;"></div>
                    <div id="cboxLoadingGraphic" style="float: left;"></div>
                </div>
                <div id="cboxMiddleRight" style="float: left;"></div>
            </div>
            <div style="clear: left;">
                <div id="cboxBottomLeft" style="float: left;"></div>
                <div id="cboxBottomCenter" style="float: left;"></div>
                <div id="cboxBottomRight" style="float: left;"></div>
            </div>
        </div>
        <div style="position: absolute; width: 9999px; visibility: hidden; display: none; max-width: none;"></div>
    </div>
</body>
{% endblock content %}