{% extends 'base.html' %}
{% load static %}

{% block background-image %}
{% endblock background-image %}

{% block title %}Collections{% endblock title %}

{% block content %}
<!-- TODO Populate movies via Django templatetags or React.
    Add pagination? -->
<div class="container home-content">
  <div class="home-movies">
    <div class="row">
      {% for collection in object_list %}
      <div class="browse-movie-wrap col-xs-10 col-sm-5">
        <a href="{% url 'reusable:collection_items' collection.slug %}" class="browse-movie-link">
          <figure>
            <img src="{{ collection.image.url }}" alt="{{ collection.title }} download">
              <figcaption class="hidden-xs hidden-sm">
                <h4>{{ collection.title }}</h4>
                <span class="button-green-download2-big">View Details</span>
              </figcaption>
              <h4>{{ collection.title }}</h4>
          </figure>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}